<!--Caixa 100% da largura-->
<div id="cadastro">
  <!--Container com 100% da altura-->
  <div class="container h-100">
    <!--Linha com 100% da altura-->
    <div class="row h-100">
      <div class="col-12 my-auto">
        <form (submit)="cadastrar()" [formGroup]="formCadastro">
          <!--Linha do form-->
          <div class="form-row form-res">
            <!--Coluna do inputs do form-->
            <div class="col">
              <!--Input-->
              <input type="text" formControlName="nome"  id="nome" value="" [ngClass]="validarCampo('nome')" class="form-control border-2" placeholder="First name" />
              <!--Dica para campo invalido-->
              <div class="invalid-tooltip">Required field</div>
            </div>
            <div class="col">
              <input type="text" formControlName="sobrenome" id="sobrenome" value="" [ngClass]="validarCampo('sobrenome')" class="form-control border-2" placeholder="Last name" />
              <div class="invalid-tooltip">Required field</div>
            </div>
            <div class="col">
              <input type="number" formControlName="participacao" id="participacao" value="" [ngClass]="validarCampo('participacao')" class="form-control border-2" placeholder="Participation" />
              <div class="invalid-tooltip">Required numerical field</div>
            </div>
            <div class="col-2">
              <!--Botão submit-->
              <button	type="submit"	class="btn btn-outline-light border-2 font-weight-bold w-100 h-100">SEND</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
